.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.student-table th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

.student-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.student-table tbody tr:first-child td {
    border-top: 1px solid #ddd;
}

.student-table ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.student-table li {
    margin-bottom: 5px;
}
